.CreateTaskList {
  display: none;
}

.CreateTaskList__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.CreateTaskList__img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.CreateTaskList__img img {
  width: 300px;
}

.CreateTaskList__title {
  margin: 2.2rem;
}
.CreateTaskList__subtitle {
  margin-left: 2.2rem;
}

.CreateTaskList__input {
  border: 2px solid var(--gray-primary);
  border-radius: 2.4rem;
  height: 4.8rem;
  margin: 0.4rem 2.2rem 1.2rem;
  padding: 0.4rem 5rem 0.4rem 1.6rem;
  outline: 0;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--input-background);
}

.CreateTaskList__input:hover,
.CreateTaskList__input:focus {
  box-shadow: 0px 0px 2px 0px var(--gray-secondary);
}

.CreateTaskList__button {
  border: none;
  min-height: 5rem;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: 700;
  color: var(--secondary);
  background-color: var(--primary);
}

.CreateTaskList__button:hover {
  box-shadow: 0px 0px 8px 0px var(--primary);
}

@media (min-width: 768px) {
  .CreateTaskList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 100%;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .CreateTaskList__container {
    width: 40vw;
  }
}
