.CreateTaskList {
  grid-column: 1 / 13;
  grid-row: 5;
  width: 100vw;
}

.CreateTaskList__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.CreateTaskList__title {
  margin: 2.2rem;
}
.CreateTaskList__subtitle {
  margin-left: 2.2rem;
}

.CreateTaskList__input {
  border: 2px solid var(--gray-primary);
  border-radius: 2.4rem;
  height: 4.8rem;
  margin: 0.4rem 2.2rem 1.2rem;
  padding: 0.4rem 5rem 0.4rem 1.6rem;
  outline: 0;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--input-background);
}

.CreateTaskList__input:hover,
.CreateTaskList__input:focus {
  box-shadow: 0px 0px 2px 0px var(--gray-secondary);
}

.CreateTaskList__button {
  border: none;
  min-height: 5rem;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: 700;
  color: var(--secondary);
  background-color: var(--primary);
}

.CreateTaskList__button:hover {
  box-shadow: 0px 0px 8px 0px var(--primary);
}

@media (min-width: 768px) {
  .CreateTaskList {
    width: 40vw;
    grid-column: 1 / 7;
    grid-row: 1 / 5;
    align-self: flex-start;
  }
  .CreateTaskList__container {
    position: fixed;
    width: 40vw;
  }
}
