.CustomCheck__control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CustomCheck__checkbox {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: var(--control-secondary);
  font: inherit;
  color: currentColor;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.05em solid var(--gray-primary);
  border-radius: 50%;
  transition: 120ms background-color ease-in-out;
  cursor: pointer;
}

.CustomCheck__checkbox::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--control-secondary);
  background-color: CanvasText;
}

.CustomCheck__checkbox:checked {
  background-color: var(--control-primary);
}

.CustomCheck__checkbox:checked::before {
  transform: scale(1);
}

.CustomCheck__checkbox:disabled {
  --control-color: var(--control-disabled);
  background-color: var(--gray-primary);
  color: var(--control-disabled);
  cursor: not-allowed;
}
