.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.App__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  text-align: center;
}

.App__search {
  padding-top: 2.2rem;
  background-color: var(--white);
}

.App__title {
  /* font-size: 5.2rem; */
  font-size: 3.6rem;
  color: var(--primary);
}

@media (min-width: 768px) {
  .App {
    height: 100vh;
    padding: 2.2rem 0;
  }
  .App__search {
    width: 100%;
  }
  .App__list {
    width: 40vw;
    border: 2px solid var(--primary);
  }
}
