.App {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  margin: 1.6rem 0;
}

.App__title {
  grid-column: 1 / 13;
  grid-row: 1;
  text-align: center;
  font-size: 5.2rem;
}

@media (min-width: 768px) {
  .App__title {
    grid-column: 7 / 13;
  }
}
