.title {
  grid-column: 1 / 13;
  grid-row: 2;
  margin: 1.2rem 2.2rem 0;
  font-size: 1.8rem;
  text-align: center;
}

.title span {
  color: var(--primary);
}

@media (min-width: 768px) {
  .title {
    grid-column: 7 / 13;
  }
}
