/* CreateTodoList */
:root {
  --white: #fff;
  --button-color-primary: #6f54d0;
  --button-color-secondary: #fff;
  --input-background: #fff;
  --input-border-primary: #aaa;
  --input-border-secondary: #444;
  --control-primary: #ccb8ff;
  --control-secondary: #fff;
  --control-disabled: #eee;
}
