.TaskList {
  width: 100%;
  height: calc(100% - 19.8rem - 6.4rem + 5px);
  overflow: auto;
}

@media (min-width: 764px) {
  .TaskList {
    display: flex;
    justify-content: center;
    width: 95%;
  }
}
